apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mysql-wordpress
  name: wordpress
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - env:
        - name: WORDPRESS_DB_HOST
          value: mysql
        - name: WORDPRESS_DB_NAME
          value: wordpress
        - name: WORDPRESS_DB_USER
          value: wordpress
        - name: WORDPRESS_DB_PASSWORD
          value: wp_12345
        image: wordpress:5.7.2-php7.4-apache
        name: wordpress
      restartPolicy: Always
